@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.garis{
  background-color: rgb(52, 53, 53);
  border-radius: 5px;
  height: 1px;
  margin-top: 5px;
}
.pilihan2{
  min-height: 20px;
  width: 200px;
  padding:5px;
  margin-left: 5px;
  background-color: rgb(41, 41, 41);
  color:rgb(0, 0, 0);
  border-radius: 5px;
}
.pilihan2:hover{
  background-color: rgb(37, 37, 37);
  color:rgb(0, 0, 0);
}
.if
.pilihan{
  min-height: 20px;
  min-width: 300px;
  padding:4px;
  padding-left: 10px;
  margin-top: 3px;
  background-color: rgb(44, 44, 44);
  color:white;
  border-radius: 5px;
}
.jwbpendek{
  height: 20px;
  width: 400px;
  margin-left: 4px;
  padding:4px;
  padding-left: 10px;
  margin-top: 10px;
  background-color: rgb(39, 39, 39);
  color:white;
  border-radius: 5px;
 
}
.jwbpendek:hover{
  background-color: rgb(20, 20, 20);
}
.pertanyaan{
  min-height: 20px;
  min-width: 300px;
  padding:5px;
  margin-top: 3px;
  background-color: rgb(51, 51, 51);
  color:white;
  border-radius: 5px;
}
.pilihan:hover{
  background-color: rgb(26, 26, 26);
  color:white;
}
.btn{
  position: absolute;
  top: 15px;
  left: 45px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #1b1b1b;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn.click{
  left: 260px;
}
.btn span{
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d';
}
.sidebar{
  float: left;
  width: 20%;
  height: 100%;
  background: #1a1a1a;
  transition: left 0.4s ease;
  position: fixed;
  font-family: poppins,Arial,sans-serif;
  line-height: 1.8;
  font-weight: 200;
  
}
.sidebar.show{
  left: 0px;
}
.sidebar img{
  width: 100%;
  padding: 11%;
}

nav ul{
  background: #c7850c;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-bottom: 0.5px solid rgba(196, 103, 27, 0.144);
}
nav ul li:last-child{
  border-bottom: 0px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 13px;
  padding-left: 20px;
  font-weight: 500;
  display: block;
  width: 100%;
}

nav ul li a:hover{
  background: #1b1b1b;
  color:rgb(201, 139, 6);
 
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .migrasi-tampil.show{
  display:block;
}

nav ul .kemagnetan-tampil.show1{
  display: block;
}

nav ul .produk-tampil.show2{
  display: block;
}


nav ul ul li{
  
  line-height: 42px;
  border-top: none;
  
}
nav ul ul li a{
  font-size: 12px;
  color: #e6e6e6;
  padding-left: 40px;
  line-height: 2.5;
  padding-right: 10px;
  background: #e49e07;
  

}
nav ul li.beranda ul li a{
  color: #e6e6e6;
  background: #1a1a1a;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: rgb(37, 37, 37)!important;
  background: #1f1f1f!important;
}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 15px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
.header{
  width: 80%;
  height: 9.7%;
  position: absolute;
  left: 20%;
  padding-top: 1%;
  color: black;

  background-color: #fafafa;
  font-family: poppins,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;

    box-shadow: 0px 0px 3px rgb(0 0 0 / 50%);


}
.content{

  position: absolute;
  top:10%;
  left: 20%;
  height: 85%;
  width: 80%;
  padding-right: 8%;
  padding-left: 7%;
  color: rgb(0, 0, 0);
  overflow:scroll;
	overflow:auto;
  font-family: poppins,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.8;
  font-weight: 400;
}
.content video{
  width: 80%;
}
.footer{
  position: absolute;
  top:92%;
  left: 20%;
  height: auto;
  width: 80%;
  background-color: #fafafa;
  font-family: poppins,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.8;
    font-weight: 400;

    box-shadow: 0px 0px 3px rgb(0 0 0 / 50%);
  
}
.navigasibawah{
  margin-top: 5px;
  padding-bottom: 5px;

}

button {
  background-color: #000500; 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius:5px ;
  
}
button a{
  text-decoration: none;
  color: white;
}
.btn1{
  background-color: rgb(233, 241, 154);
  color: black;
 
}
.btnvidio{
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  min-width: 100px;
  background-color:  #19191a; 
}
.btnvidio:hover{
  background-color:  #000000; 
  color: white;
}
.btnkecil{
  border-radius: 5px 5px 5px 5px;
  padding: 2px;
  min-width: 100px;
  background-color:  #252525; 
}
.btnkecil:hover{
  background-color:  #000000; 
  color: white; 
}
.btnangka{
  border-radius: 5px 5px 5px 5px;
  padding: 2px;
  min-width: 30px;
  background-color:  #3b3b3b; 
}
.btnangka:hover{
  color: aliceblue;
}

button:hover{
  background-color:#2b2b2b;
  color: white;

}
/*css3 design scrollbar*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background:  #d19b05;
}
.nav{
display: none;
}
.menu{
display: none;
}
.nav{
display: none;
}

@media screen and (max-width: 760px) {
  .btn1{
    background-color:  #202020;
    color: white;
   
  }
  .pilihan{
  min-height: 30px;
  min-width:unset;
  width: 100pxpx;
}
.jwbpendek{
  padding-right: 80px;
  margin-left: 20px;
  line-height: 30px;
}
.pilihan2{
  line-height: 30px;
  padding-left: 2px;
}
.pertanyaan{
  min-height: 30px;
  min-width:unset;
  width: 100pxpx;
}
.jawaban img{
  width: 5px;
}
.pilihan2{
  margin-left: 15px;
  padding-right: 20px;
}
  .header{
    width: 100%;
    position: unset;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 20%;
    padding-right: 10%;
    color: #fafafa;
    font-size: 10pt;
    background-color: rgb(0, 0, 0);
  }
  
  .gambarhover:hover{
    transform: scale(2.5);
  }
  .sidebar{
    position: fixed;
    margin-top: -18%;
    width: 250px;
    height: 105%;
    left: -250px;
    background: #d39000;
    transition: left 0.4s ease;	
    z-index: 1;	
    overflow: scroll;
    
  }::-webkit-scrollbar {
    width: 0px;
    
  }
  .btn{
    position: fixed;
    top: 1.5%;
    left: 10px;
    background-color: none;
    z-index: 1;	
  }
  .btnkecil{
   margin:2px;
  }
  .content{
    float: left;
    position: unset;
    width: 100%;
    height: auto;
    color: rgb(0, 0, 0);
    font-size: 10pt;
    overflow:none;
    
  }
  .content video{
    width: 100%;
  }
  .footer{
    position:unset;
    top:0;
    left: 0;
    height: 10%;
    width: 100%;
    margin-bottom: 2%;
  }
  .navigasibawah{

    background-color:initial;
    padding:1px;
    font-size: 4pt;;
  }
  button {
    padding: 6px;
    width: auto;
    height: 10%;
    
  }
  .btnvidio{
    border-radius: 5px 5px 5px 5px;
    margin: 2px;
    padding: 10px;
    min-width: 100px;
    background-color:  #1f1f1f; 
  }
  nav ul li{
    line-height: 40px;
    border-top: 1px solid rgba(255,255,255,0.1);
  }
  #reset_button{
		width: 100px;
		height: 500px;
		padding: 30px;
		margin-top: 12px;
		font-size: 100px;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-weight: 100;
	}


	/* bg */
	#dragScriptContainer{	/* BIG DIV containing HTML needed for the entire script */
		width:1000px;
		margin:0 auto;
		color: #000;
		/* border:1px solid rgb(136, 129, 129); */
		height:300px;
		margin-top:20px;
		padding:10px;
		position: relative;
	}
	
	#questionDiv{	/* Big div for all the questions */
		/* float:left; */
		background-image: url("1/gambar/backgroundmindmapping.jpg");
		height:356px;
		width:100%;
		margin-left: -300px;
		/* border:1px solid #000; */
		padding:287px;
		
	}
	#answerDiv{	/* Big div for all the answers */
		/* float:right; */
		height:218px;
		width: 1245px;
		border:4px solid #000;
		padding:2px;
		margin-top: -20px;	
		margin-left: -130px;
	}
	
	#questionDiv div,#dragContent {

     
		width:100px;
		height:20px;
		line-height:20px;
		margin-right:2px;
		margin-bottom:2px;
		text-align:center;
	}

	#questionDiv div{
		width: 188px;
		height: auto;
	}

	#answerDiv div{
		
		 display: inline-block;
		 width: 104px;
		 padding: 5px 10px;
	}	

	.bgdestination{
		padding: 20px;
		background-color: rgb(178, 0, 0);
		/* border: 1px solid black; */
		border-radius: 5px;
	}
	
	#dragContent div{	/* Drag content div - i.e. specific answers when they are beeing dragged */
		border:1px solid #000;
		
	}
	
	#answerDiv .dragDropSmallBox{	/* Small answer divs */
		border:1px solid #000;
		cursor:pointer;
	}
	
	#questionDiv .dragDropSmallBox{	/* Small answer divs */
		border:1px solid #000;
		width : px;
		cursor:pointer;
		background-color:#d3d7d7;
	}
	
	#questionDiv div div{
		margin:0px;
		border:0px;
		padding:0px;
		background-color:#FFF;
	}
	#questionDiv .destinationBox{
		border:0px;
		background-color:rgb(255, 255, 255);
		width:189px;
		height:22px;
		margin-top: 3px;
	}

	#questionDiv .correctAnswer{	/* CSS indicating correct answer */
		background-color:green;
		color:#fff;
		border:1px solid #000;
	}
	#questionDiv .wrongAnswer{	/* CSS indicating wrong answer */
		background-color:red;
		color:#fff;
		border:1px solid #000;
	}

	#dragContent div{
		background-color:#FFF;
	}

	#questionDiv .dragContentOver{	/* Mouse over question boxes - i.e. indicating where dragged element will be appended if mouse button is relased */
		border:1px solid #F00;
	}
	
	#answerDiv.dragContentOver{	/* Mouse over answer box - i.e. indicating where dragged element will be appended if mouse button is relased */
		border:1px solid #F00;
	}
	
	
  @media screen and (max-width:760px){
    #badan{
        width: 70%;
        min-height: 50%;
        padding: 5px;
        position: absolute;
        top: 10%;
        left: 20%;
       
    }
}
}
